body {
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

button {
    border-collapse: collapse;
    background-color: white;
    border-radius: 0.5cm;
}

button {
    padding: 0.2cm;
}
